<nav class="navbar navbar-light" style="background-color: #1bc7b0;">
  <div class="container">
    <a class="navbar-brand" href="/links/home">
      <i class="fas fa-couch"></i>&nbsp; ProntoMuebles S.A</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          Datos del usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" > Mi id : {{user.id_cliente}}</a>
              <a class="dropdown-item" > Mi correo : {{user.correo}}</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Salir</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signin">SignIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">SignUp</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
