{{> navAdmin}}

<div class="container pt-4">
    <div class="row justify-content-center">
        <div class="col-md- col-sm-5">
            <div class="card">
                <div class="card-header">
                    <h2>Editar Color</h2>
                </div>
                <form action="/editar-color/add" method="POST">
                    <div class="card-body">
                        <div class="form-group">
                            {{#each row}}
                            <input class="form-control"  hidden value="{{id}}" type="text" name="id">
                            <input class="form-control" value="{{color}}" type="text" name="color">
                            {{/each}}
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit">Editar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>