
{{> navAdmin}}
<div class="container">
    <table class="table">
    <thead class=>
        <tr>
            <th>Id Mueble</th>
            <th>Cantidad Comprados</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {{#each reportes}}
        <tr>
            <td>{{id_mueble}}</td>
            <td>{{cant_m_ven}}</td>
            <td>{{fecha}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>
</div>