<div class="container p-4">
<div class="row"></div>
{{#each x}}
{{this}}
{{/each}}
</div>

 <p>Company: <select name="company" id="company">
    {{#each proveedores}}
        <option>{{id}}</option>
    {{/each}}
    </select>